*{
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

/*Topo*/
header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.top img{
    margin: 0 22px;
}

.top ion-icon{
    font-size: 42px;
}

.top button{
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 22px;
}

/*Chat*/

.box-chat{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    background: #F3F3F3;
}

.chat{
    margin: 100px 0;
}

time{
    color: #AAAAAA;
    margin-left: 8px;
    margin-right: 5px;
}

.texto-msg{
    margin-right: 8px;
    width: 100%;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 4px;
}

/*Entrada e saída da sala*/
.entrada-saida{
    background: #DCDCDC;
}

/*Mensagem pública*/
.geral{
    background: white;
}

/*Msg privada*/
.privada{
    background: #FFDEDE;
}

.from, .to{
    font-weight: bold;
}



/*Área de enviar mensagem*/
.message{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.message textarea{
    width: 80%;
    margin: 0 17px;
    border: none;
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 18px;
    resize: none;
}

textarea:focus{
    outline: none;
}

textarea::placeholder{
    color: black;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

.message ion-icon{
    font-size: 30px;
}

.message button{
    background: none;
    border: none;
    margin: 0 17px;
    cursor: pointer;
}

/*Menu*/
#menu{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}

nav{
    position: absolute;
    z-index: 3;
    background: white;
    height: 100vh;
    width: 65vw;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav ion-icon{
    font-size: 25px;
    margin-right: 10px;
}

nav h1{
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    margin: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

nav ul{
    width: 86%;
}

nav li{
    height: 36px;
    align-items: center;
    display: flex;
}